{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="landing">
    <div class="landing-container">
        <h1>Iphone</h1>
        <p>allez voir nos téléphones</p>

        <a href="{{ path('product') }}" class="btn btn-primary">Découvré nos téléphones</a>
    </div>
</div>

{% endblock %}

