{% extends 'base.html.twig' %}

{% block title %}Les Téléphones!{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom du produit</th>
      <th scope="col">Slug du produit</th>
      <th scope="col">Description du produit</th>
      <th scope="col">Prix du produit</th>
      
    </tr>
  </thead>
  
</table>


{% endblock %}
